<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Elements Tests">
    <test verbose="2" preserve-order="true" name="C:\Users\heriberto\IdeaProjects\handsOnSeleniumWebDriver">
        <groups>
            <run>
                <include name="WomenCategoryTest"/>
            </run>
        </groups>
        <classes>
            <class name="MyStoreWomenTests"></class>
        </classes>
    </test>
</suite>